body{
    font-family: Anton; /* 폰트 */
    font-size: 90%;
}

h1{
    text-align: center; /* 텍스트 정렬 */
    font-size: 40px;/* mozilla 에서 다양한 설정 확인 가능*/
}

p{
    font-size: 1.5em;
}
/* 1em==현재 폰트 사이즈,  기본 16px >브라우저마다 다름  */