#up{
    text-align: center;
    border: 10px solid blue;
    margin-bottom: 10px; /* margin부분을 늘려서 여백 생성 */
    /* px로 하면 브라우저 사이즈를 변경해도 px을 유지하려함 */
}
/* content > padding > border > margin */
#down{
    text-align: center;
    border: 10px solid green;
    padding-top: 50px;
}