body{
    background-color: green;
}

div{
    background-color: blanchedalmond;
    border: orange;
    border-width: 5px;
    border-style:dotted;/*테두리*/
}

span{
    background-color: red; /*특정성으로 호출 위치 상관없이 div백그라운드 컬러보다 span컬러가 위에 생성됨*/
}